@charset "UTF-8";
body{
	margin:0;
	
}
.reservation-container{
    width: 70%;

    margin: auto;
}
.reservation-wrrapper{

width: 80%;
    margin: 15px 20%;

}

.reservation-title{
	    background: #cfe2ff;
    margin: 0;
    padding: 10px;
    border-radius:5px;
}









.reservation-table{

}
.reservation-table-name{
	font-sizr:20px;
}






/***상세 정보 입력 **/
.innserdetail-textbox{
	/* border: 2px solid #6ab3ff; */
    border-radius: 5px;
    margin: 10px auto;
    background: #73abff57;
    padding: 10px;
	    width: 97.66666%;
}

.commentbox {
	    width: 40%;
    height: 60px;
}




.submit-wrapper{
	width: 100%;
	
}

.submitbtn {
	    margin: 0px 86.5%;
    padding: 10px;
    background: #000086;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 25px;
	
}








/**left **/
.leftbar {
    float: left;
    width: 18%;
    margin: -10px auto;
}
.left-importantbox {
	    border: 2px solid #adceff;
    width: 80%;
    margin: 10px auto;
    font-size: 13px;
    border-radius: 5px;
        padding: 10px;
}
.left-importantbox h5{
	    border-bottom: 2px solid #0000bd82;
    font-size: 15px;
    margin: 0;
}