@charset "UTF-8";
body {
	
	margin: 0;
	
}

h4 {
	font-size: 22px;
	margin: 0px;
    background: #ff5919;
    padding: 9px;
    border-radius: 5px;
}
table {
	display: flex;
    margin: 10px 5px 0 5px;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.hotelimage {
	width: 200x;
    height: 200px;
}


.img-cutter {
	
	width: 200px;
	height: 200px;
   	overflow: hidden;
   	position: relative;
}

.img-only-wrap {
	
	width: 2000px;
	position: relative;
    display: inline-block;
}


.bar-wrapper {
	margin: 0 100px;
}


.leftbar {
	width : 25%;
	height: auto;
	border:1px solid green;
	margin-left: 30px;
}


.rightbar{
	width: 70%;
	height:auto;
	border: 2px solid #b7b7b7;
	float:right;
	border-radius:5px;
}

.rowfilter {
	border: 1px solid green;
	width: 100%;
	height: 50px;
}



.leftSearch-wrap {
	
	background: #ffa114ad;
    border-radius: 5px;
    margin: 5px;
	
}

.leftsearch-form {
	text-align: center;
	padding: 10;
}

.imagesearch {
	width: 150px;
    height: 150px;
	
}
.leftbtn, .rightbtn {
	    border: none;
    padding: 0 20px;
    margin: -25px 0;
    position: absolute;
    background: none;
    font-size: 25px;
}
.leftbtn:hover, .rightbtn:hover{
	background: #dedede;
    border-radius: 5px;
	
}


.tablelist:hover{
	background:#cfe4ff;
	
	
}
.tablerow td{
	margin: 10px;
}

.htypesearch {
	padding: 5px;
    background: #ffc863e8;
    border-radius: 5px;
    margin: 0px 10px 0px 0;
	
}

.hnamesearch {
	color: #0000d6;
	font-size: 35px;
	text-decoration: none;
	
}
.hnamesearch:hover {
	color: #ff842c;
}

.addsearch {
	color: blue;
	font-style:bold;
}



/*****************top filter ********************/

.rowFilUl {
	
	width: 100%;
	
}
.rowFilUl li {
	list-style: none;
    border: 1px solid green;
    display: inline-block;
    width: 30%;
    margin: auto -2px;
}



















/*****************left bar*********************/


.calc {
	border: 2px solid #ff6b09;
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;	
}

.mainsubmitbtn{
	border: none;
    background: #ff501b;
    margin: 9px 70%;
    border-radius: 5px;
    font-size: 30px;
}
.mainsubmitbtn:hover {
	background: #e47b31;
}
.leftbar input {
	    padding: 5px;
}













